img.logo {
  width: 70%;
}
h3 {
  color: tomato;
}

.nav-color {
  background-color: rgb(255, 225, 229);
}
.nike-react {
  height: 600px;
  background-color: rgb(255, 225, 229);
}
.casual .find {
  width: 85%;
}
.img-casual img {
  width: 100%;
}
.casual-border-rad {
  border-radius: 15px;
}
.find {
  height: 400px;
}
.img.logo {
  width: 75%;
}
img.find-icon {
  width: 50%;
}
img.img-find {
  width: 100%;
}
p {
  font-size: 15px;
}
h1 {
  color: black;
}
p {
  color: black;
}
.find {
  height: 500px;
  margin-top: 100px;
}
@media only screen and (max-width: 700px) {
  .find {
    display: block;
  }
}
